<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicare Appeal Web Scraper</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
      <main>
        <div class="container">
          <div class="logo-wrap">
             <img src="/images/scrapper-logo.png" alt="logo">
             <h1>Medicare Scrapper</h1>
          </div>
          <div class="form-wrap">
            <form>
               <div class="form-item form-type-textfield form-item-appeal-number">
               <label for="edit-appeal-number">Case Number:  <br> <small>Example: 1-123456789</small></label>
                <input type="text" id="edit-appeal-number" name="appeal-number" size="60" maxlength="128" class="form-text">
               </div>
               <p>- Or -</p><div class="form-item form-type-textfield form-item-contract-number">
                 <label for="edit-contract-number">Plan Contract #: <br> <small>Example: H9999</small> </label>
                <input type="text" id="edit-contract-number" name="contract-number"  size="60" maxlength="128" class="form-text">
               </div>
               <div class="form-item form-type-select form-item-date-type">
                 <label for="edit-date-type">Search Date Type:  <br> <small>IRE Request Received Date or <br> IRE Decision Date or<br> QIC Appeal Deadline Date
                 </small></label>
                <select id="edit-date-type" name="date-type" class="form-select"><option value="IRERcvdDate" selected="selected">IRE Request Received Date</option><option value="LastDecisionDate">IRE Decision Date</option><option value="DeadLineDate">QIC Appeal Deadline Date</option></select>
                </div>
               <div class="form-item form-type-textfield form-item-start-date">
                 <label for="edit-start-date">Start Date:  </label>
                <input class="date-picker form-text hasDatepicker" type="text" placeholder="mm/dd/yyyy" id="edit-start-date" name="start-date" size="60" maxlength="128">
               </div>
               <div class="form-item form-type-textfield form-item-end-date">
                 <label for="edit-end-date">End Date:  </label>
                <input class="date-picker form-text hasDatepicker" placeholder="mm/dd/yyyy" type="text" id="edit-end-date" name="end-date"  size="60" maxlength="128">
               </div>
               <div class="form-item"><label for="data-page">Enter the specific set <br> you wish to fetch. </label><input id="data-page" name="dtIndex" type="number" min="1"></div>
               <br />
               <span>- Or -</span>
               <br />
               <br />
               <div class="form-item"><label for="data-set">Enter the number of sets to <br> be fetched at once.
                <br>
                <small>Note that each set contains fifty(50) records</small></label><input id="data-set" name="dtIndex" type="number" min="1"></div>
               <input type="button" onclick="scraperFunction()" id="edit-submit" name="op" value="Search" class="form-submit">
               </form>
          </div>
        </div>
      </main>
      
   

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
