<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        overflow-x: hidden;
      }
      .container {
          width: 100vw;
          min-height: 100vh;
          height: max-content;
          overflow-x: hidden;
      }
      form {
        margin-bottom: 20px;
      }
      #iframe {
        width: 100vw;
        height: 100vh;
        border: none;
        z-index: 5;
        display: hidden;
      }
      #url-opener {
        cursor: pointer;
      }

      .scraper-wrap {
        position: fixed;
        width: max-content;
        height: max-content;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
      #scraper {
          cursor: pointer;
      }
    </style>
  </head>
  <body>
      <div class="container">
        <form>
           <div class="form-item form-type-textfield form-item-appeal-number">
             <label for="edit-appeal-number">Case Number:  </label>
            <input type="text" id="edit-appeal-number" name="appeal-number" size="60" maxlength="128" class="form-text">
           <div class="description">Example: 1-123456789</div>
           </div>
           <p>- Or -</p><div class="form-item form-type-textfield form-item-contract-number">
             <label for="edit-contract-number">Plan Contract #:  </label>
            <input type="text" id="edit-contract-number" name="contract-number"  size="60" maxlength="128" class="form-text">
           <div class="description">Example: H9999</div>
           </div>
           <div class="form-item form-type-select form-item-date-type">
             <label for="edit-date-type">Search Date Type:  </label>
            <select id="edit-date-type" name="date-type" class="form-select"><option value="IRERcvdDate" selected="selected">IRE Request Received Date</option><option value="LastDecisionDate">IRE Decision Date</option><option value="DeadLineDate">QIC Appeal Deadline Date</option></select>
           <div class="description">IRE Request Received Date or IRE Decision Date or QIC Appeal Deadline Date</div>
           </div>
           <div class="form-item form-type-textfield form-item-start-date">
             <label for="edit-start-date">Start Date:  </label>
            <input class="date-picker form-text hasDatepicker" type="text" id="edit-start-date" name="start-date" size="60" maxlength="128">
           </div>
           <div class="form-item form-type-textfield form-item-end-date">
             <label for="edit-end-date">End Date:  </label>
            <input class="date-picker form-text hasDatepicker" type="text" id="edit-end-date" name="end-date"  size="60" maxlength="128">
           </div>
           <input type="button" onclick="scraperFunction()" id="edit-submit" name="op" value="Search" class="form-submit">
           </form>
      </div>
   

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const container = document.querySelector(".container");
        const appealNumber = document.getElementById("edit-appeal-number");
        const contractNumber = document.getElementById("edit-contract-number");
        const dateType = document.querySelector("#edit-date-type");
        const startDate = document.getElementById("edit-start-date");
        const endDate = document.getElementById("edit-end-date");
    
      // create dialog
      const dialog = document.createElement("div");

      const scraperFunction = async () => {
        try {
          if ( document.querySelector("#dialog") !== null) return;
          const search = {
                      'appeal-number': appealNumber.value,
                      'contract-number': contractNumber.value,
                      'date-type': dateType.options[dateType.selectedIndex].value,
                      'start-date': startDate.value,
                      'end-date': endDate.value,
                      op: 'Search'
                   }
          dialog.setAttribute("id", "dialog");
          dialog.style.backgroundColor = "rgba(0,0,0, 0.5)";
          dialog.style.position = "fixed";
          dialog.style.top = "0";
          dialog.style.bottom = "0";
          dialog.style.left = "0";
          dialog.style.right = "0";
          dialog.style.width = "100vw";
          dialog.style.height = "100vh";
          dialog.style.zIndex = "10";
          const dialogContent = document.createElement("div");
          dialogContent.style.maxWidth = "max-content";
          dialogContent.style.padding = "2rem"
          dialogContent.style.height = "max-content";
          dialogContent.style.position = "absolute";
          dialogContent.style.top = "0";
          dialogContent.style.bottom = "0";
          dialogContent.style.left = "0";
          dialogContent.style.right = "0";
          dialogContent.style.background = "white";
          dialogContent.style.textAlign = "center";
          dialogContent.style.margin = "auto";
          const download = document.createElement("h1");
          download.textContent = "Scraping...";
          dialogContent.appendChild(download);
          dialog.appendChild(dialogContent)
          container.appendChild(dialog); 
          const { data } = await axios.post("/scraper", search);
          if (data.message === "ok"){
             window.open("/scraper/download", "_self");
             container.removeChild(document.querySelector("#dialog"));  
          }
        } catch (err) {
          console.log(err);
        }
      };
    
  
    </script>
  </body>
</html>
